.main-heading {
  --pixels: 70;
  font-size: var(--font-size);
  line-height: 1.2857;
  max-width: 554px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
}

.main-heading-small {
  --pixels: 14;
  font-size: var(--font-size);
  margin-bottom: 13px;
  display: block;
  color: var(--color-main-light);
  text-transform: uppercase;
  letter-spacing: 1.82px;
}
